.header_base {
  width: 100%;
  height: 70px;
  color: #fff;
  background: #212121;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  color: #fff;
  font-size: 16px;
}
.header_subLogo {
  color: #882909;
}
.header_navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header_navList {
  padding-right: 48px;
  color: #afa5a3;
  font-size: 14px;
  cursor: pointer;
}
.header_navList:hover {
  color: #fff;
}
.header_button {
  width: 162px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee3c00;
  border-radius: 15px;
  cursor: pointer;
}
.header_buttonText {
  font-size: 14px;
  padding-left: 10px;
}
.header_messageIcon {
  background-image: url('../images/message.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1025px) {
  .header_menu {
    display: none;
  }
  .header_message {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header_base {
    padding: 0px 15px;
  }
  .header_menu {
    display: block;
    background-image: url('../images/menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
  }
  .header_navContainer {
    display: none;
  }
  .header_message {
    background-image: url('../images/message.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
  }
}
