<div class="banner2_base">
  <div class="banner2_container">
    <div class="banner2_leftContainer">
      <div class="banner2_heading">
        Fortune 500 Financial Services & Decoupled Drupal, Bringing
        Responsiveness To Georgia's Premier Medical Group
      </div>
      <div class="banner2_content">
        Drupal 8 leveraged to create an Acquisition Management Tracking System,
        custom tailored to meet the needs of our partner’s clients in the
        federal government.Our extensive expertise in RESTful Drupal’s
        strengths, leveraged for Market Intelligence replatforming. How we
        delivered a responsive design, customized client engagement, and other
        Drupal solutions for Georgia's premier medical group.
      </div>
    </div>
    <div class="banner2_rightContainer">
      <div class="banner2_imageHolder"></div>
    </div>
  </div>
</div>
