<div class="banner_base">
  <div class="banner_wrapper">
    <div class="banner_text">Integer bibendum sit amet arcu vel egestas.</div>
    <div class="banner_recHolder">
      <div class="banner_rec">
        <div class="banner_Icon"></div>
        <div class="banner_servicesName">Service Name</div>
      </div>
      <div class="banner_rec">
        <div class="banner_Icon"></div>
        <div class="banner_servicesName">Service Name</div>
      </div>
      <div class="banner_rec">
        <div class="banner_Icon"></div>
        <div class="banner_servicesName">Service Name</div>
      </div>
    </div>
    <div class="banner_servicesBase">
      <div class="banner_serviceContainer">
        <div class="banner_serviceText">Service Name</div>
      </div>
      <div class="banner_serviceContainer">
        <div class="banner_serviceText">Service Name</div>
      </div>
      <div class="banner_serviceContainer">
        <div class="banner_serviceText">Service Name</div>
      </div>
    </div>
  </div>
</div>
