<div class="career_base">
  <div class="career_wrapper">
    <div class="career_heading">Convinced To Work With Us?</div>
    <div class="career_subText">
      Company has helped agencies keep their promises to clients since 2005.
    </div>
    <div class="career_inputContainer">
      <div class="career_input">
        <input type="text" placeholder="Fullname" />
      </div>
      <div class="career_input">
        <input type="text" placeholder="Email Address" />
      </div>

      <div class="career_input">
        <input type="text" placeholder="Phone Number" />
      </div>
    </div>
    <div class="career_comment">
      <textarea rows="4" cols="70" placeholder="Message in brief"></textarea>
    </div>
    <div class="career_button">
      <div class="career_buttonText">
        Submit
      </div>
    </div>
  </div>
</div>
