<div class="footer_base">
  <div class="footer_copyright">© 2007 Company. All Rights Reserved</div>
  <div class="footer_followUsBase">
    <div class="footer_followUsText">Follow us on:</div>
    <div class="footer_image">
      <img
        src="../images/facebook.png"
        alt="facebook"
        width="10px"
        height="10px"
      />
    </div>
    <div class="footer_image">
      <img
        src="../images/linkedin.png"
        alt="linkedin"
        width="10px"
        height="10px"
      />
    </div>
    <div class="footer_image">
      <img
        src="../images/twitter.png"
        alt="twitter"
        width="10px"
        height="10px"
      />
    </div>
  </div>
</div>
