<div class="header_base">
  <div class="header_menu"></div>
  <div class="header_logo">
    COMPANY<span class="header_subLogo"> LOGO</span>
  </div>
  <div class="header_navContainer">
    <div class="header_nav">
      <div class="header_navList">About</div>
      <div class="header_navList">Service</div>
      <div class="header_navList">Solutions</div>
      <div class="header_navList">Blog</div>
    </div>
    <div class="header_button">
      <div class="header_messageIcon"></div>
      <div class="header_buttonText">
        Get In Tounch
      </div>
    </div>
  </div>
  <div class="header_message"></div>
</div>
