<div class="testimonials_base">
  <div class="testimonials_heading">Testimonials</div>
  <div class="testimonials_commentBase">
    <div class="testimonials_container">
      <div class="testimonials_commentContainer">
        <div class="testimonials_comment">
          <span class="testimonials_icon">“</span> Together the implementation
          teams effectively addressed our unique requirements and created a
          great, solid foundation for the future and delivered it all on an
          extremely aggressive timeline.
        </div>
      </div>
      <div class="testimonials_profilebase">
        <div class="testimonials_profileImageContainer">
          <div class="testimonials_profileImage"></div>
        </div>
        <div class="testimonials_profileDetails">
          <div class="testimonials_profileName">CLIENT NAME</div>
          <div class="testimonials_designation">position, ORG</div>
        </div>
      </div>
    </div>
    <div class="testimonials_container">
      <div class="testimonials_commentContainer">
        <div class="testimonials_comment">
          <span class="testimonials_icon">“</span> Together the implementation
          teams effectively addressed our unique requirements and created a
          great, solid foundation for the future and delivered it all on an
          extremely aggressive timeline.
        </div>
      </div>
      <div class="testimonials_profilebase">
        <div class="testimonials_profileImageContainer">
          <div class="testimonials_profileImage"></div>
        </div>
        <div class="testimonials_profileDetails">
          <div class="testimonials_profileName">CLIENT NAME</div>
          <div class="testimonials_designation">position, ORG</div>
        </div>
      </div>
    </div>
    <div class="testimonials_container">
      <div class="testimonials_commentContainer">
        <div class="testimonials_comment">
          <span class="testimonials_icon">“</span> Together the implementation
          teams effectively addressed our unique requirements and created a
          great, solid foundation for the future and delivered it all on an
          extremely aggressive timeline.
        </div>
      </div>
      <div class="testimonials_profilebase">
        <div class="testimonials_profileImageContainer">
          <div class="testimonials_profileImage"></div>
        </div>
        <div class="testimonials_profileDetails">
          <div class="testimonials_profileName">CLIENT NAME</div>
          <div class="testimonials_designation">position, ORG</div>
        </div>
      </div>
    </div>
  </div>
</div>
