<html>
  <head>
    <meta charset="UTF-8" />
    <title>Axelerant: Interview Frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="banner.css" />
    <link rel="stylesheet" href="banner2.css" />
    <link rel="stylesheet" href="testimonials.css" />
    <link rel="stylesheet" href="career.css" />
    <link rel="stylesheet" href="footer.css" />
  </head>
  <body>
    <div class="base">
      {% include "_header.html.twig" %} {% include "_banner.html.twig" %} {%
      include "_banner2.html.twig" %} {% include "_testimonials.html.twig" %} {%
      include "_career.html.twig" %} {% include "_footer.html.twig" %}
    </div>
    <script src="main.js"></script>
  </body>
</html>
